[submodule "Assets/Plugins/unity.core"]
	path = Assets/Plugins/unity.core
	url = https://github.com/dythervin/unity.core.git
[submodule "Assets/Plugins/unity.auto-attach"]
	path = Assets/Plugins/unity.auto-attach
	url = https://github.com/dythervin/unity.auto-attach.git
